<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostMapper">
	<select id="findAll" resultType="github.lmcoa15.webboard.dto.Post">
		select 
		  *
		from POST;
	</select>
	
	<select id="find" parameterType="int" resultType="github.lmcoa15.webboard.dto.Post">
		select 
		  *
		from POST
		where seq = #{seq}
	</select>

	<select id="findPostsByAlias" parameterType="String" resultType="github.lmcoa15.webboard.dto.Post">
		select 
			p.*
		from category c
		join post p ON c.seq = p.category
		where c.alias = #{id}
	</select>
	
	<insert id="write" parameterType="map">
	<!--  
		insert into post ('title','date','writer','contents','counts','category')
		values(#{})
		-->
	</insert>
	
	<update id="update" parameterType="map">
		<!-- 
		update post
		set title=#{title}, contents=#{contents}, date=sysdate
		where seq=#{seq} 
		-->
	</update>
	
	<delete id="delete" parameterType="int">
		delete from post where seq = #{seq}
	</delete>
</mapper>