<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

	<resultMap id="userMap" type="github.lmcoa15.webboard.dto.User">
		<id property="seq" column="useq"/>
		<result property="userId" column="userId"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="joinDate" column="joinDate"/>
	</resultMap>
	
	<select id="findAll" resultType="github.lmcoa15.webboard.dto.User">
		select 
		  userId AS id,
		  email As email,
		  pass AS password
		from users;
	</select>
	
	<select id="login" parameterType="map" resultType="github.lmcoa15.webboard.dto.User">
		select *
		from users
		where userId=#{userId} and password=#{password};
	</select>
</mapper>